*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 300px;
    height: 120px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.heading{
    background-color: #98ab5b;
    text-align: center;
    font-size: 1.4rem;
}

.result{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5px;
}

input{
    width: 90%;
    height: 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0px 0px 14px;
}

button{
    background-color: #98ab5b;
    margin: 15px 0px 0px 55px;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}