*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d0d3af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    height: 180px;
}

.heading{
    font-size: 2rem;
    font-weight: 600;
    padding: 10px;
}

p{
    font-size: 0.8rem;
    padding: 10px;
}

#user_input{
    width: 70px;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

#btn{
    margin: 10px;
    text-align: center;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}

.img_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}